.liste{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.titre{
  display: flex;
  justify-content: space-around;

}
.btn{
  width: 200px;
  height: 300px;
}
.img{
  width: 180px;
  height: 280px;
}
.ul{
  list-style: none;
}
.search{
  display: flex;
  
}
